<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        
      </li>
      <li>
        <%= link_to "sign up", new_user_path %>
      </li>
      <li>
      </li>
    </ul>
  </div>
</nav>
